<template>
  <div class="create">
    <div>
      <h1>Create Document</h1>
    </div>
    <div class="create-form">
      <div>
        <label>Name:</label>
        <input
          type="text"
          placeholder="name"
          v-model="this.newDocumentName"
          required
        />
      </div>
      <div>
        <label>Description:</label>
        <textarea
          type="text"
          placeholder="description"
          v-model="this.newDocumentDescription"
          required
        ></textarea>
      </div>
      <div>
        <label>Expiration Date:</label>
        <input
          type="text"
          placeholder="expiration date"
          v-model="this.newDocumentExpDate"
        />
      </div>
      <div>
        <label>Tags:</label>
        <input type="text" placeholder="tags" v-model="this.newDocumentTags" />
      </div>
    </div>
    <div>
      <button type="submit" onclick="addDoc()">Save</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { SpaceDocument } from '@/types';
import SpaceDocumentProps from './HomeView.vue';

interface NewDocumentProps {
  newDocumentName: string;
  newDocumentDescription: string;
  newDocumentExpDate: Date;
  newDocumentTags: string;
}

let addDoc = () => {
  console.log('document added!');
};

@Component
export default class CreateDocumentView extends Vue {
  props: [
    newDocumentName: '',
    newDocumentDescription: '',
    newDocumentExpDate: '',
    newDocumentTags: ''
  ];
}
</script>

<style scoped>
.create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  height: 100%;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
</style>
