<template>
  <div>
    <div>
      <h1>Edit Document</h1>
    </div>
    <div class="edit-form">
      <label>Name:</label>
      <input
        type="text"
        placeholder="${Document.id.name}"
        v-model="this.editDocumentName"
        required
      />
      <label>Description:</label>
      <textarea
        type="text"
        placeholder="${SpaceDocument.id.description}"
        v-model="this.editDocumentDescription"
        required
      ></textarea>
      <label>Expiration Date:</label>
      <input
        type="text"
        placeholder="${SpaceDocument.id.expirationDate}"
        v-model="this.editDocumentExpDate"
      />
      <label>Tags:</label>
      <input
        type="text"
        placeholder="${SpaceDocument.id.tags}"
        v-model="this.editDocumentTags"
      />
    </div>
    <div>
      <button type="submit" onclick="addDoc()">Save</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { SpaceDocument } from '@/types';

interface NewDocumentProps {
  editDocumentName: string;
  editDocumentDescription: string;
  editDocumentExpDate: Date;
  editDocumentTags: string;
}

const saveDoc = () => {
  console.log('saved!');
};
@Component
export default class EditDocumentView extends Vue {}
</script>

<style scoped>
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  height: 100%;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
</style>
