<template>
  <div class="home">
    <h1>Home view</h1>
    <div v-if="!items">
      <p>No Documents to Display</p>
    </div>
    <div v-else>
      <ul>
        <li v-for="item in items" :key="item.id">{item.name}</li>
        <router-link to="/edit-document">Edit</router-link>
      </ul>
    </div>
    <router-link to="/create-document">Create New Document</router-link>
  </div>
</template>

<script lang="ts">
import { SpaceDocument } from '@/types';
import { Component, Vue } from 'vue-property-decorator';

interface SpaceDocumentProps {
  spaceDocuments: SpaceDocument[];
}

@Component
export default class HomeView extends Vue {
  items: SpaceDocument[] = [];
}
</script>
