<template>
  <div id="app">
    <nav class="main-nav">
      <header>
        <div class="nasa-logo">
          <img src="./assets/nasa-logo.svg" alt="nasa logo" />
        </div>
        <div class="router">
          <router-link to="/">Home</router-link>
          <router-link to="/create-document">Create Document</router-link>
        </div>
      </header>
    </nav>

    <main class="container">
      <router-view />
    </main>
  </div>
</template>

<style>
* {
  background-color: black;
  color: white;
  font-family: 'PT Sans', sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 2rem;
  margin: 2rem;
  text-transform: capitalize;
  text-decoration: none;
  width: 100%;
  background-image: url(./assets/webbdeepfield.jpeg);
}
.nasa-logo {
  display: flex;
  justify-content: flex-start;
}
.router {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-between;
  margin-right: 0;
  gap: 2rem;
  margin: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-between;
  margin: 2rem;
  border-bottom: solid white 0.1rem;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  margin: 2rem;
}
</style>
